body{
    display:block;
    text-align: center;
    background-color: #263142;
    color: #8CFF9F;
    font-family: Verdana, sans-serif;
    width:85%;
    margin-left:auto;
    margin-right:auto;
}

h3{
    color: #FFE28A;
    font-size: 26pt;
    font-weight:bold;
}

#score{
    display:block;
    font-size: 36pt;
}

h1{
    color: #A5FDFF;
    font-size: 36pt;
    font-weight:bold;
    text-shadow: 6px 6px 2px #27272B;
}

p {
    font-size: 16pt;
    
}

.boxed{
    margin:1em;
    padding:1em;
    background-color:#2D3A4F;
    border-color:#2D3A4F;
    border-radius:1em;
    box-shadow: 2px 2px 0px #27272B, -20px -10px 50px #263142 inset;
}

#list_of_skins{
    display:inline-block;
    width:45%;
    float:left;
}

#list_of_skins h3{
    text-decoration: underline;
}

#input_field{
    display:block;
    width:75%;
    margin-left:auto;
    margin-right:auto;
}

.box_w_expla{
    display:block;
    margin:.5em;
    margin-left:auto;
    margin-right:auto;
    width:80%;
    padding: .5em;
}

#steam_id{
    display:block;
    margin-top:.5em;
    margin-left:auto;
    margin-right:auto;
    width: 95%;
    padding-top: .5em;
    padding-bottom: .5em;
    font-size: 26pt;
    background-color:#1D2533;
    color:whitesmoke;
}

span{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:90%;
    color:darkgray;
    font-size:10pt;
    margin-top:2px;
}

input[type="submit"]{
    margin-top: 2em;
    width: 60%;
    padding:1em;
    background-color: #415373;
    border:none;
    font-size: 24pt;
    color: #8CFF9F;
    font-weight:bold;
    box-shadow: 2px 2px 0px #27272B, -5px -2px 10px #263142 inset;
}

input[type="submit"]:hover{
    background-color:#1D2533;
    color:#64B571;
    box-shadow: 2px 2px 0px #27272B inset, 3px 3px 20px #263142 inset;
}

li{
    font-size: 20pt;
    margin-top: .5em;
    margin-bottom: .5em;
}

::-webkit-scrollbar{
    width: .5em;
    
}

::-webkit-scrollbar-track{
    background-color:#1D2533;
}

::-webkit-scrollbar-thumb{
    background-color:#2D3A4F;
}

#inventory_json {
    margin-top: 2em;
    width: 60%;
    padding:1em;
    background-color: #415373;
    border:none;
    font-size: 18pt;
    color: #8CFF9F;
    font-weight:bold;
    box-shadow: 2px 2px 0px #27272B, -5px -2px 10px #263142 inset;
    margin-bottom:10%;
}

#inventory_json:hover{
    background-color:#1D2533;
    color:#64B571;
    box-shadow: 2px 2px 0px #27272B inset, 3px 3px 20px #263142 inset;
}
